<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airbng.mappers.LockerImageMapper">

    <insert id="insertLokcerImages" parameterType="map">
        INSERT INTO LockerImage (locker_id, image_id)
        VALUES 
        <foreach collection="imageIds" item="imageId" separator="," >
            (#{lockerId}, #{imageId});
        </foreach>
    </insert>

</mapper>