<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airbng.mappers.LockerMapper">

    <resultMap id="LockerDetails" type="com.airbng.dto.LockerDetailResponse">
        <result property="lockerId" column="locker_id" />
        <result property="lockerName" column="locker_name" />
        <result property="address" column="address" />
        <result property="addressEnglish" column="address_english" />
        <result property="addressDetail" column="address_detail" />
        <result property="keeperId" column="keeper_id" />
        <result property="keeperName" column="name" />
    </resultMap>


    <select id="findUserById" parameterType="Long" resultMap="LockerDetails">
        SELECT l.locker_id, l.locker_name, l.address, l.address_english,
                l.address_detail, m.member_id AS keeper_id, m.name
        FROM Locker l
        LEFT JOIN Member m ON l.member_id = m.member_id
        WHERE l.locker_id = #{lockerId}
    </select>

    <!-- 이미지 URL만 조회하는 쿼리 (List<String>) -->
    <select id="findImageById" parameterType="Long" resultType="string">
        SELECT i.url
        FROM Locker l
        JOIN LockerImage li ON l.locker_id = li.locker_id
        JOIN Image i ON li.image_id = i.image_id
        WHERE l.locker_id = #{lockerId}
    </select>
  
    <!-- 인기 보관소 resultMap -->
    <resultMap id="PopularLockerMap" type="com.airbng.dto.LockerPreviewResult">
        <id     column="locker_id"      property="lockerId" />
        <result column="address"        property="address" />
        <result column="locker_name"    property="lockerName" />
        <result column="is_available"   property="isAvailable" />
        <result column="url"            property="url" />

        <!-- 중첩 짐타입 매핑 -->
        <collection property="jimTypeResults" ofType="com.airbng.dto.JimTypeResult">
            <id     column="jimtype_id"    property="jimTypeId" />
            <result column="type_name"     property="typeName" />
        </collection>
    </resultMap>

    <!-- 인기 락커 5개 조회 -->
    <select id="findTop5Lockers" resultMap="PopularLockerMap" parameterType="com.airbng.domain.base.ReservationState">
        SELECT
            l.locker_id,
            l.is_available,
            l.address,
            l.locker_name,
            img.url AS url,
            jt.jimtype_id,
            jt.type_name
        FROM Locker l
        JOIN Member m ON l.member_id = m.member_id
        JOIN Reservation r ON r.keeper_id = m.member_id
        LEFT JOIN (
        SELECT li.locker_id, img.url
        FROM LockerImage li
        JOIN Image img ON li.image_id = img.image_id
        WHERE li.image_id IN (
        SELECT MIN(li2.image_id)
            FROM LockerImage li2
            GROUP BY li2.locker_id
            )
            ) AS img ON img.locker_id = l.locker_id
        LEFT JOIN LockerJimType ljt ON ljt.locker_id = l.locker_id
        LEFT JOIN JimType jt ON jt.jimtype_id = ljt.jimtype_id
        WHERE r.state = #{state}
        GROUP BY
            l.locker_id,
            l.is_available,
            l.address,
            l.locker_name,
            img.url,
            jt.jimtype_id,
            jt.type_name
        ORDER BY COUNT(r.reservation_id) DESC
        LIMIT 5
    </select>
</mapper>
