<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.airbng.mappers.ReservationMapper">
    <insert id="insertReservation" parameterType="com.airbng.dto.reservation.ReservationInsertRequest">
        INSERT INTO Reservation(
            dropper_id, keeper_id, start_time, end_time, state
        )VALUES(
            #{dropperId}, #{keeperId}, #{startTime}, #{endTime}, 'PENDING'
        )
        <selectKey keyProperty="id" resultType="Long" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <resultMap id="ReservationSearch" type="com.airbng.dto.ReservationSearchResponse">
        <result property="reservationId" column="reservation_id" />
        <result property="state" column="state" />
        <result property="keeperId" column="keeper_id" />
        <result property="dropperId" column="dropper_id" />

    </resultMap>

    <select id="findAllReservationById" resultMap="ReservationSearch">
        SELECT
            r.reservation_id,
            r.state,
            r.keeper_id,
            r.dropper_id
        FROM Reservation r
        <!-- 동적 JOIN -->
        <choose>
            <when test="role == 'KEEPER'">
                LEFT JOIN Member m ON r.keeper_id = m.member_id
            </when>
            <when test="role == 'DROPPER'">
                LEFT JOIN Member m ON r.dropper_id = m.member_id
            </when>
        </choose>
        <where>
            <choose>
                <when test="role == 'KEEPER'">
                    r.keeper_id = #{memberId}
                </when>
                <when test="role == 'DROPPER'">
                    r.dropper_id = #{memberId}
                </when>
            </choose>
            <if test="state != null and state != ''">
                AND r.state = #{state}
            </if>
            <if test="nextCursorId != null">
                AND r.reservation_id &lt; #{nextCursorId} <!-- &gt;는 부등호 '>'를 의미-->
            </if>
            <!--최신 보관소 보여주기 위해서 내림차순 + cursorId보다 작은 id를 출력 (cursorId는 높은 숫자부터 내려가야함)-->
        </where>
        GROUP BY r.reservation_id ORDER BY r.reservation_id desc LIMIT #{limit}
    </select>

    <select id="findReservationByMemberId">
        SELECT COUNT(*)
        FROM Reservation r
        <if test="role == 'KEEPER'">
            LEFT JOIN Member m ON r.keeper_id = m.member_id
        </if>
        <if test="role == 'DROPPER'">
            LEFT JOIN Member m ON r.dropper_id = m.member_id
        </if>
        WHERE m.member_id = #{memberId}
    </select>
</mapper>